ion-grid{
    
    text-align: left;
    border-bottom: solid 1px #000000;
    color: #000000;

}

ion-input{
  
    --padding-bottom: 0;
    --padding-top: 0;
   
}
ion-row{
    margin-bottom: 0px;
   
}

ion-button{
    margin-bottom: 0px;
    padding-top: 0%;
}