<ion-grid>
    
     <ion-row>
        <ion-col >
            <ion-input placeholder="miau"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input placeholder="miau"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input placeholder="miau"></ion-input>
        </ion-col>
        <ion-col>
            <ion-label>hola</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>hola</ion-label>
            <ion-button color="danger"  (click)="deleteClicked(item)">Eliminar</ion-button>
        </ion-col>
        
     
    
    </ion-row>

</ion-grid>


  

