<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Info de perfil</ion-card-title>
  
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label>correo: miau</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

 
</ion-content>
<ion-footer>
 

    <ion-button routerLink="/" color="danger" >Cerrar sesion</ion-button>

</ion-footer>